body {
  font-family:Verdana, Geneva, Tahoma, sans-serif;
  transition: background-color 1.0s, color 0.5s;
} 

body.light-mode {
  background-color: rgb(155, 154, 154);
  color: black;
}

body.dark-mode {
  background-color: black;
  color: white;
}

/* Ajuste no header */
#painel-navegacao.custom-navbar {
  padding-top: 0.3rem;
  padding-bottom: 0.3rem;
  min-height: 60px;
}

#painel-navegacao .navbar-brand img {
  height: 32px; /* Reduz o tamanho do logo */
}

.custom-navbar {
  background-color: rgba(204, 200, 200, 0.973); 
  backdrop-filter: blur(10px);              
  -webkit-backdrop-filter: blur(10px);       
  box-shadow: 0 2px 6px rgba(0,0,0,0.1);      
  border-bottom: 1px solid rgba(0, 0, 0, 0.05); 
}

/* BOTAO TEMA escuro/claro */
.theme-switch-wrapper {
  display: flex;
  justify-content: center;
  align-items: center;
}

.theme-switch {
  position: relative;
  display: inline-block;
  width: 45px;
  height: 21px;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: rgba(231, 177, 29, 0.856);
  transition: 0.4s;
  border-radius: 26px;
  width: 45px;
  height: 21px;
  box-shadow: 
    3px 3px 6px rgba(0, 0, 0, 0.2),  /* sombra inferior direita */
    -3px -3px 6px rgba(255, 255, 255, 0.068); /* luz superior esquerda */
}

.slider:hover {
  box-shadow: 0 0 20px rgba(231, 177, 29, 0.856);
}

.slider:before {
  position: absolute;
  content: "";
  height: 20px;
  width: 20px;
  left: 1px;
  bottom: 1px;
  border-radius: 50%;
  transition: 0.4s;
  background-size: 12px 12px;
  background-repeat: no-repeat;
  background-position: center;
  background-image: url('https://cdn.iconscout.com/icon/premium/png-512-thumb/sol-2712011-2260881.png?f=webp&w=256');
}

input:checked + .slider {
  background-color: rgb(141, 141, 141);
}
input:checked + .slider:hover {
  box-shadow: 0 0 20px rgb(255, 255, 255);
}
input:checked + .slider:before {
  transform: translateX(24px);
  background-image: url('https://cdn.iconscout.com/icon/free/png-512/free-lua-476-444867.png?f=webp&w=256');
}

#checkbox {
  width: 0.2px;
}

#pesquisa-musica{
  margin-left: auto;
  width: 45%;
}

.form-control {
  background: rgba(255, 255, 255, 0.05);
  border: 1px solid rgba(255, 255, 255, 0.2);
  backdrop-filter: blur(10px);
  box-shadow: 0 8px 24px rgba(0, 0, 0, 0.2);
  color: #fff;
}

#header-botao-premium, #listas{
  margin-right: 20px;
}

#dropdown{
  margin-right: 100px;
}
.btn-outline-success {
  transition: box-shadow 0.3s ease; 
}

#importar-musica{
  padding: 4px 10px;       /* Reduz o espaço interno (altura/largura) */
  font-size: 10px;         /* Reduz o tamanho da fonte */
  line-height: 1.2;        /* Ajusta altura da linha para manter alinhamento vertical */
  height: 30px;            /* Altura total do botão */
  display: flex;
  align-items: center;     /* Centraliza verticalmente */
  justify-content: center; 
}

#header-botao-premium {
  background-color: #0d6efda2;
  color: white;
  border: none;
  padding: 6px 12px;
  border-radius: 6px;
  transition: background-color 0.3s ease;
  box-shadow: 0 4px 8px #094fb8a2; 
}

#header-botao-premium:hover {
  background-color:  rgba(231, 177, 29, 0.856) !important;
  box-shadow: 0 4px 8px #946a00;
}

  #header-botao-premium:hover,
  #header-botao-premium:focus,
  #header-botao-premium:active {
    background-color: rgba(231, 177, 29, 0.856) !important;
}

.btn-secondary {
  border-radius: 8px;
  box-shadow: 0 4px 12px rgba(0, 0, 0, 0.25);
}

@media (max-width: 600px) {
  .header-pesquisa1 {
    flex-direction: column;
    align-items: stretch;
  }

  #js-header-pesquisa {
    width: 100%;
    max-width: 100%;
  }

  .header-botao-pesquisa,
  #header-botao-premium {
    width: 100%;
  }
}

.nav-link {
  position: relative;
  display: inline-block;
  color: #0d6efd !important;
  transition: color 0.3s ease;
}

.nav-link::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 3px;
  background-color: rgb(231, 177, 29);
  transition: width 0.3s ease;
  transition: width 0.5s ease-in-out;
}

.nav-link:hover::after {
  width: 100%;
}

#dropdown1{
  position: relative;
  display: inline-block;
  color:rgb(231, 177, 29) !important;
  transition: color 0.3s ease;
}
#dropdown1::after {
  content: "";
  position: absolute;
  left: 0;
  bottom: 0;
  width: 0;
  height: 1px;
  background-color: rgb(231, 177, 29); 
  transition: width 0.3s ease;
  transition: width 0.5s ease-in-out;
}

#dropdown1:hover::after {
  width: 100%;
}

#sair{
  text-align: right;
}

.dropdown-item:hover,
.dropdown-item:focus,
.dropdown-item:active {
  background-color: rgba(231, 177, 29, 0.521) !important;
}  